asyncio
aiohttp
aiohttp_jinja2
coloredlogs
docker_py
pytest
pytest-mock
tox
webtest
webtest-aiohttp
-e git+git@github.com:mesosphere/dcos-image.git@master#egg=dcos_image
-e git+git@github.com:mesosphere/pkgpanda.git@master#egg=pkgpanda
