# Mesos Master Jinja Template
# Created M. Massenzio, 2015-04-27

{% set name = properties["network"]  %}
{% set zone =  properties["zone"] %}
{% set network_pool = properties["network_pool"] %}
{% set admin_range = properties["admin_range"] %}

resources:
    - type: compute.v1.network
      name: {{name}}
      properties:
        IPv4Range: {{network_pool}}

    - type: compute.v1.firewall
      name: {{ name }}-admin-access
      properties:
        allowed:
          - IPProtocol: TCP
            ports: [1-65535]
        sourceRanges: [ {{admin_range}} ]
        network: $(ref.{{name}}.selfLink)

    - type: compute.v1.firewall
      name: {{ name }}-allow-internal
      properties:
        allowed:
          - IPProtocol: TCP
            ports: [1-65535]
          - IPProtocol: UDP
            ports: [1-65535]
          - IPProtocol: ICMP
        sourceRanges: [ 10.255.0.0/16 ]
        network: $(ref.{{name}}.selfLink)
