# Mesos Slave Jinja Template
# Created M. Massenzio, 2015-04-27

{% import 'cloud-config.gce.yaml' as cc %}

{% set base_name = properties["base_name"]  %}
{% set base_slave_name = base_name + '-slave' %}
{% set machine_type = properties["machine"]%}
{% set bootstrap_url= properties["bootstrap_url"] %}

{% set base_name = properties["base_name"]  %}
{% set base_slave_name = base_name + '-slave' %}
{% set machine_type = properties["machine"]%}
{% set bootstrap_url= properties["bootstrap_url"] %}
resources:
    - name: {{base_slave_name}}-template
      type: compute.v1.instanceTemplate
      properties:
        properties:
          machineType: {{machine_type}}
          disks:
          - deviceName: boot
            type: PERSISTENT
            diskType: pd-standard
            diskSizeGb: {{properties["disk_size"]}}
            boot: true
            autoDelete: true
            initializeParams:
              sourceImage: https://www.googleapis.com/compute/v1/projects/coreos-cloud/global/images/coreos-stable-633-1-0-v20150414
          networkInterfaces:
          - network: $(ref.{{ properties["network"] }}.selfLink)
            accessConfigs:
            - name: External NAT
              type: ONE_TO_ONE_NAT
          metadata:
            items:
            - key: master_elb
              value: $(ref.{{ base_name }}-lb.IPAddress)
            - key: user-data
              value: |
                {{cc.GenerateCloudConfig( bootstrap_url, "slave", "",  base_name ) }}
    - name: {{base_slave_name}}
      type: replicapool.v1beta2.instanceGroupManager
      properties:
        zone: {{ properties ["zone"] }}
        size: {{ properties["nodes"] }}
        baseInstanceName: {{base_slave_name}}
        instanceTemplate: $(ref.{{base_slave_name}}-template.selfLink)
