[Unit]
Description=Check DCOS Health

[Timer]
OnBootSec=5min
OnUnitActiveSec=1min
Unit=dcos-health.service

[X-Fleet]
Global=true
MachineMetadata=TYPE=CONTROLLER
MachineMetadata=TYPE=COMPUTE
MachineMetadata=TYPE=STORAGE
