[Unit]
Description=Install DCOS Master

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/mkdir -p /home/montana/mesosphere/dcos
ExecStartPre=/usr/bin/curl -sSL http://104.197.93.20/dcos/dcos_install.sh -o /home/montana/mesosphere/dcos/dcos_install.sh
ExecStart=/usr/bin/bash /home/montana/mesosphere/dcos/dcos_install.sh master

[X-Fleet]
Global=true
MachineMetadata=TYPE=CONTROLLER
MachineMetadata=TYPE=STORAGE
