[Unit]
Description=Cleanup the DCOS installation

[Service]
EnvironmentFile=/etc/environment
Type=oneshot
ExecStartPre=-/usr/bin/rm -rf /etc/mesosphere
ExecStartPre=-/usr/bin/rm -rf /etc/profile.d/dcos.sh
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/artemis.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/config-writer.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-artemis.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-cfn-signal.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-download.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-exhibitor.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-gen-resolvconf.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-gen-resolvconf.timer
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-history-service.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-keepalived.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-logrotate.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-logrotate.timer
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-marathon.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-mesos-dns.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-mesos-master.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-nginx-reload.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-nginx-reload.timer
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-nginx.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-setup.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-signal.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos-signal.timer
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos.target
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/dcos.target.wants
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/exhibitor.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/gen_resolvconf.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/gen_resolvconf.timer
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/logrotate.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/logrotate.timer
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/marathon.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/mesos-dns.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/mesos-master.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/mesos-slave-public.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/mesos-slave.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/nginx-reload.service
ExecStartPre=-/usr/bin/rm -rf /etc/systemd/system/nginx.service
ExecStartPre=-/usr/bin/rm -rf /opt/mesosphere
ExecStartPre=-/usr/bin/systemctl stop artemis.service dcos-artemis.service dcos-cfn-signal.service dcos-download.service dcos-exhibitor.service dcos-gen-resolvconf.service dcos-gen-resolvconf.timer dcos-history-service.service dcos-keepalived.service dcos-logrotate.service dcos-logrotate.timer dcos-marathon.service dcos-mesos-dns.service dcos-mesos-master.service dcos-nginx-reload.service dcos-nginx-reload.timer dcos-nginx.service dcos-setup.service dcos-signal.service dcos-signal.timer exhibitor.service gen_resolvconf.service gen_resolvconf.timer logrotate.service logrotate.timer marathon.service mesos-dns.service mesos-master.service mesos-slave.service nginx-reload.service nginx-reload.timer nginx.service
ExecStartPre=-/usr/bin/rm -rf /home/montana/mesosphere/dcos
ExecStartPre=-/usr/bin/rm -rf /var/lib/zookeeper
ExecStartPre=-/usr/bin/rm -rf /var/lib/mesos
ExecStartPre=-/usr/bin/rm -rf /var/log/mesos
ExecStart=-/usr/bin/rm -f /tmp/bootstrap.tar.xz

[X-Fleet]
Global=true
MachineMetadata=TYPE=CONTROLLER
MachineMetadata=TYPE=COMPUTE
MachineMetadata=TYPE=STORAGE
