[Unit]
Requires=dcos-download.service
After=dcos-download.service

[Service]
Type=oneshot

EnvironemntFile=/opt/mesosphere/environment
ExecStart=/opt/mesosphere/bin/pkgpanda --bootstrap

