[Unit]
After=network-online.target
Wants=network-online.target

ConditionPathExists=!/opt/mesosphere/

[Service]
Type=oneshot
ExecStartPre=/usr/bin/curl https://download.mesosphere.io/dcos/distribution.tar.xz -o /tmp/distribution.tar.xz
ExecStart=/usr/bin/tar -axf /tmp/distribution.tar.xz -C /opt/mesosphere
