[Unit]
Description=Prep the Pkgpanda working directories for this host.
Requires=dcos-download.service
After=dcos-download.service

ConditionPathExists=/opt/mesosphere/bootstrap

[Service]
Type=oneshot

EnvironmentFile=/opt/mesosphere/environment
ExecStart=/opt/mesosphere/bin/pkgpanda setup
ExecStart=/usr/bin/rm /opt/mesosphere/bootstrap
