[Unit]
Description=Reboot the things
[Service]
EnvironmentFile=/opt/mesosphere/environment
Type=oneshot
ExecStart=/opt/mesosphere/bin/python /home/trampelb/diag/not-loaded.py
