<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>DCOS Installer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
 <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DCOS Installer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/installer/v1.0/configurator">Step 1: <small>Configure</small><span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="/installer/v1.0/preflight">Step 2: <small>Preflight</small><span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="/installer/v1.0/deploy">Step 3: <small>Deploy</small><span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://support.mesosphere.com">Help</a></li>
                  <li><a href="http://enterprise.mesosphere.com/">Documentation</a></li>
                </ul>
              </ul>
          </li>
        </ul>
        </div>
      </nav>
      <div class="container">
        <p>Configuration found in the config YAML file are shown as placeholders. If configruation is no found, an example is given. Config in the YAML file will not be overwritten by the console - this is a to be determinted feature. </p>
        <br>
        {% if not config_path_level %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> {{ config_path_message }}
        </div>
        {% else %}
        <div class="alert alert-{{ config_level }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{ config_level }}!</strong> {{ config_message }}
        </div>
        {% endif %}
        <br>
        
        <form method="POST" action="/installer/v1.0/configurator">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Cluster Name</span>
            {% if isset['cluster_name'] %}
            <input name="cluster_name" type="text" class="form-control" placeholder="Already Set: {{ isset['cluster_name'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input name="cluster_name" type="text" class="form-control" placeholder="foo_cluster" aria-describedby="basic-addon1">
            {% endif %}
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">DNS Resolvers</span>
            {% if isset['resolvers'] %}
            <input name="resolvers" type="text" class="form-control" placeholder="Already Set: {{ isset['resolvers'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input name="resolvers" type="text" class="form-control" placeholder="8.8.8.8, 8.8.4.4" aria-describedby="basic-addon1">
            {% endif %}
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Master List</span>
            {% if isset['master_list'] %}
            <input name="master_list" type="text" class="form-control" placeholder="Already Set: {{ isset['master_list'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input name="master_list" type="text" class="form-control" placeholder="10.0.0.1, 10.0.0.2..." aria-describedby="basic-addon1">
            {% endif %}
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Agent List</span>
            {% if isset['agent_list'] %}
            <input name="agent_list" type="text" class="form-control" placeholder="Already Set: {{ isset['agent_list'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input name="agent_list" type="text" class="form-control" placeholder="10.0.0.1, 10.0.0.2..." aria-describedby="basic-addon1">
            {% endif %}
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">SSH Username</span>
            {% if isset['ssh_user'] %}
            <input name="ssh_user" type="text" class="form-control" placeholder="Already Set: {{ isset['ssh_user'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input name="ssh_user" type="text" class="form-control" placeholder="$my_user" aria-describedby="basic-addon1">
            {% endif %}
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">SSH Port</span>
            {% if isset['ssh_port'] %}
            <input name="ssh_port" type="text" class="form-control" placeholder="Already Set: {{ isset['ssh_port'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input name="ssh_port" type="text" class="form-control" placeholder="22" aria-describedby="basic-addon1">
            {% endif %}
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">SSH Key</span>
            <input name="ssh_key" type="file" class="filestyle" data-buttonName="btn-primary">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">IP Detect</span>
            <input name="ip_detect" type="file" class="filestyle" data-buttonName="btn-primary">
          </div>
          <br>
         <input class="submit" type="submit" value='Save Configuration'> 
        </form>
	      <br>
        <form method="GET" action="/installer/v1.0/configurator">
          <input class="submit" type="submit" value='Validate Configuration'>
        </form>
        <br>
        <form method="POST" action="/installer/v1.0/configurator/generate">
          <input class="submit" type="submit" value='Generate Configuration'>
        </form>
        <br>
        <form method="POST" action="/installer/v1.0/configurator/clear">
          <input class="submit" type="submit" value='Clear'> 
        </form>
      </div>
  </body>
</html>
