<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>DCOS Installer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/"><h1>{{title}}<small> DCOS Installer</small></h1></a>
              <ul class="nav">
                <li><a href="https://support.mesosphere.com">Support / Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="container">
        <br>
        <form method="post" action="/installer/v1.0">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Cluster Name</span>
            <input type="text" class="form-control" placeholder="foo" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">DNS Resolvers</span>
            <input type="text" class="form-control" placeholder="8.8.8.8,8.8.4.4" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Master Discovery Method</span>
            <input type="text" class="form-control" placeholder="static || keepalived || zookeeper" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Exhibitor Storage Backend</span>
            <input type="text" class="form-control" placeholder="zookeeper || aws_s3 || shared_filesystem" aria-describedby="basic-addon1">
          </div>
          <br>
          <input type="submit" value='Submit'>
        </form>
      </div>
  </body>
</html>
