[Unit]
Description=Download the DCOS
After=network-online.target
Wants=network-online.target

ConditionPathExists=!/opt/mesosphere/

[Service]
Type=oneshot
ExecStartPre=/usr/bin/curl https://downloads.mesosphere.io/dcos/bootstrap.tar.xz -o /tmp/bootstrap.tar.xz
ExecStartPre=/usr/bin/mkdir -p /opt/mesosphere
ExecStart=/usr/bin/tar -xf /tmp/bootstrap.tar.xz -C /opt/mesosphere
